<configs>
   <config name="serial">
      <item location="1" address="/dev/ttyUSB0" baud="19200"/>
      <item location="2" address="/dev/ttyUSB1" baud="19200"/>
   </config>
   <config name="locations">
      <item name="GR Front" location="1_1"/>
      <item name="GR Rear"  location="1_2"/>
      <item name="Atrium 1"         location="1_3"/>
      <item name="Atrium 2"         location="1_4"/>
      <item name="Master Bdrm"   location="1_5"/>
      <item name="Master Bath"      location="1_6"/>
      <item name="Hobby Room"       location="2_1"/>
      <item name="Garage"           location="2_2"/>
      <item name="Back Porch"       location="2_3"/>
      <item name="Lower Deck"       location="2_4"/>
      <item name="Upstairs Porch"   location="2_5"/>
   </config> 
   <config name="options">
      <item name="Off"           location="0"/>
      <item name="Radio"         location="R1"/>
      <item name="Pi-Pandora"    location="4"/>
      <item name="Phone-Pandora" location="3"/>
   </config> 
   <config name="radiostations">
      <item name="90.5"    location=""/>
      <item name="93.3"    location=""/>
      <item name="93.7"    location=""/>
      <item name="94.7"    location=""/>
      <item name="96.7"    location=""/>
      <item name="98.1"    location=""/>
      <item name="101.5"   location=""/>
      <item name="103.5"   location=""/>
      <item name="104.9"   location=""/>
      <item name="107.1"   location=""/>
   </config>       
</configs>
